@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('header.css');

:root {
    --light: rgb(249, 249, 249);
    --light-light: white;
    --shadows: rgb(202, 202, 202);
    --dark-light: rgb(148, 148, 148);
    --red: rgb(212, 70, 96);
    --blue: rgb(136, 222, 219);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jura", sans-serif;
    background-color: var(--light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.all_data {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    padding: 35px;
    background-color: var(--light-light);
    gap: 20px;
    border-radius: 30px;
    box-shadow: -15px 15px 15px var(--shadows);
}

.title_table {
    display: flex;
    gap: 25px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    border-radius: 20px;
    padding: 10px;

    box-shadow: -7px 7px 15px var(--shadows);

}

#invoiceC {
    width: 20%;
}

#customerC {
    width: 30%;
}

#methodC {
    width: 20%;
}

#statusC {
    width: 15%;
}

#amountC {
    width: 10%;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data_invoice {
    width: 20%;
}

.data_invoice-date,
.data_customer-ip,
.data_amount-title,
.data_method-gateway {
    color: var(--dark-light);
}

.data_customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.data_method {
    display: flex;
    width: 20%;
    gap: 10px;
}


.data_method-groupe--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.data_method-groupe--img img {
    height: 30px;
}

.data_method-groupe--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data_status {
    display: flex;
    width: 15%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--light-light);
}

.waiting {
    color: var(--dark-light);
    filter: grayscale(90%);
}

.stat {
    background-color: var(--light);
}

.data_amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%
}

.footer_table {
    display: flex;
    justify-content: space-between;
}

.footer_table__search {
    display: flex;
    width: 20%;
    padding: 15px 35px;
    gap: 20px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    box-shadow: -7px 7px 15px var(--shadows);
}

.footer_table__search input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.paginator {
    display: flex;
    height: 50px;
    gap: 20px;
}

.paginator_previous,
.paginator_next {
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    box-shadow: -7px 7px 15px var(--shadows);
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: black;
}

.paginator_next {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(136, 222, 219, 0.4963235294117647) 0%, rgba(212, 70, 96, 0.5) 96%);
}

.messages {
    display: flex;
    margin: 0 200px;
    gap: 20px;
}

.messages_general,
.messages_options {
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--light-light);
    border-radius: 30px;
    box-shadow: -15px 15px 15px var(--shadows);
}

.messages_label {
    padding: 20px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    border-radius: 20px;
    box-shadow: -7px 7px 15px var(--shadows);
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: -7px 7px 15px var(--shadows);
    border: none;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    resize: none;
}

.messages_time {
    display: flex;
    gap: 5px;
    align-items: end;
}

.messages_time input {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 500;
    box-shadow: -7px 7px 15px var(--shadows);
    resize: none;

}

input:focus-visible {
    outline: 2px solid var(--blue);
    border-radius: 7px;
}

textarea:focus-visible {
    outline: 2px solid var(--blue);
    border-radius: 20px;
}

.label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.label-text {
    margin-left: 8px;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: var(--shadows);
    overflow: hidden;
    box-shadow: -7px 7px 15px var(--shadows);
}

.toggle:hover {
    cursor: pointer;
}

.toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
}

.active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: linear-gradient(90deg, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: var(--light);
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked~.active-bg {
    transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked~.toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
}

.message_submit {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(212, 70, 96, 0.5) 0%, rgba(136, 222, 219, 0.4963235294117647) 100%);
    box-shadow: -7px 7px 15px var(--shadows);
    text-transform: uppercase;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.message_submit:hover {
    cursor: pointer;
}

.alert-success {
    padding: 20px 200px;
    font-size: 18px;
    font-weight: 900;
    color: var(--blue);
    text-transform: uppercase;
}